In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
import warnings
warnings.filterwarnings('ignore')

In [5]:
!pip install scikit-learn==1.3.0

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn==1.3.0 in c:\programdata\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn==1.3.0) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn==1.3.0) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn==1.3.0) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn==1.3.0) (2.2.0)

In [7]:
data=pd.read_csv('iris.data.csv')

In [8]:
data

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [13]:
data.columns=["Spetal.Length","Spetal.width","Petal_Length","ptal_width","Species"]
data.head()

   Spetal.Length  Spetal.width  Petal_Length  ptal_width      Species
0            4.9           3.0           1.4         0.2  Iris-setosa
1            4.7           3.2           1.3         0.2  Iris-setosa
2            4.6           3.1           1.5         0.2  Iris-setosa
3            5.0           3.6           1.4         0.2  Iris-setosa
4            5.4           3.9           1.7         0.4  Iris-setosa